In [1]:
import pandas as pd
import os

In [2]:
project='cpTree_v4'

In [17]:
def tree_taxo(df):
    print(df.shape[0], 'o:',df.order.nunique(),'f:',df.family.nunique(),'g:',df.genus.nunique(),'s:',df.sci_name.nunique())

In [31]:
blacklist = pd.read_csv('../PAFTOL_DB/2021-10-01_paftol_export.csv')
blacklist = blacklist[blacklist.Blacklisted==1]
print(blacklist.shape[0])

174

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (16,18,19,26,32,33,35,41,43,55,66,69) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
### List all samples for the tree
# Load paftol_pt
paftol_pt = pd.read_csv('../Organelles/PAFTOL/PAFTOL_Organelle_Recovery.csv').rename(columns={'Order':'order',
                                            'Family':'family','Genus':'genus','Sum_len_pt':'length'})
paftol_pt['species'] = paftol_pt.sci_name.str.split(' ').str[1:].str.join(' ')
print('PAFTOL:',paftol_pt.shape[0],end=' < ')
paftol_ls = [file.replace('_pt.fasta','') for file in os.listdir('../Organelles/PAFTOL/fasta_pt/') if file.endswith('.fasta')]
paftol_pt = paftol_pt[paftol_pt.Sample_Name.isin(paftol_ls)]
paftol_pt = paftol_pt[paftol_pt.idSequencing.isin(blacklist.idSequencing)==False] #Remove blacklisted samples
paftol_pt['DataSource']='PAFTOL'
print(len(paftol_ls), '>',paftol_pt.shape[0])

# Load sra_pt
sra_pt = pd.read_csv('../Organelles/SRA/SRA_Organelle_Recovery.csv').rename(columns={'Sum_len_pt':'length'})
sra_pt['species'] = sra_pt.sci_name.str.split(' ').str[1:].str.join(' ')
print('SRA:',sra_pt.shape[0],end=' < ')
SRA_ls = [file.replace('_pt.fasta','') for file in os.listdir('../Organelles/SRA/fasta_pt/') if file.endswith('.fasta')]
sra_pt = sra_pt[sra_pt.Sample_Name.isin(SRA_ls)]
sra_pt = sra_pt[sra_pt.idSequencing.isin(blacklist.idSequencing)==False] #Remove blacklisted samples
sra_pt['DataSource']='SRA'
print(len(SRA_ls), '>',sra_pt.shape[0])

# Load gap_pt
gap_pt = pd.read_csv('../Organelles/GAP/GAP_Organelle_Recovery.csv').rename(columns={'Sum_len_pt':'length'})
gap_pt['species'] = gap_pt.sci_name.str.split(' ').str[1:].str.join(' ')
print('GAP:',gap_pt.shape[0],end=' < ')
GAP_ls = [file.replace('_pt.fasta','') for file in os.listdir('../Organelles/GAP/fasta_pt/') if file.endswith('.fasta')]
gap_pt = gap_pt[gap_pt.Sample_Name.isin(GAP_ls)]
gap_pt = gap_pt[gap_pt.idSequencing.isin(blacklist.idSequencing)==False] #Remove blacklisted samples
gap_pt['DataSource']='GAP'
print(len(GAP_ls), '>',gap_pt.shape[0])

# Load 1kp_pt
okp_pt = pd.read_csv('1KP/okp_pt.csv').rename(columns={'Sample':'Sample_Name',"('len', 'sum_len')":'length'})
okp_pt['species'] = okp_pt.sci_name.str.split(' ').str[1:].str.join(' ')
print('1KP:',okp_pt.shape[0],end=' < ')
okp_ls = [file.replace('_CPgenes.fasta','') for file in os.listdir('1KP/1kp_fasta_pt/') if file.endswith('.fasta')]
okp_pt = okp_pt[okp_pt.Sample_Name.isin(okp_ls)]
okp_pt['DataSource']='OneKP'
print(len(okp_ls), '>',okp_pt.shape[0])

# Load Li et al
Lietal_pt = pd.read_csv('Li_et_al/Li_et_al_samples.csv').rename(columns={'Sample':'Sample_Name'})
print('Li et al:',Lietal_pt.shape[0],end=' < ')
lietal_ls = [file.replace('_CPgenes.fasta','') for file in os.listdir('Li_et_al/Li_et_al-Data/') if file.endswith('.fasta')]
Lietal_pt = Lietal_pt[Lietal_pt.Sample_Name.isin(lietal_ls)]
Lietal_pt['DataSource']='Lietal';
print(len(lietal_ls), '>',Lietal_pt.shape[0])

# Load NCBI refseq
refseq_pt = pd.read_csv('NCBI/RefSeq/refseq_sp.csv').rename(columns={'SeqID':'Sample_Name'})
print('RefSeq:',refseq_pt.shape[0],end=' < ')
refseq_ls = [file.replace('_pt.fasta','') for file in os.listdir('NCBI/RefSeq/Refseq_fasta_pt/') if file.endswith('.fasta')]
refseq_pt = refseq_pt[refseq_pt.Sample_Name.isin(refseq_ls)]
refseq_pt['DataSource']='REFSEQ'
print(len(refseq_ls), '>',refseq_pt.shape[0])

# Load NCBI INSDC (other plastomes, partial)
insdc_pt = pd.read_csv('NCBI/INSDC/insdc_sp.csv').rename(columns={'SeqID':'Sample_Name'})
print('INSDC:',insdc_pt.shape[0],end=' < ')
insdc_ls = [file.replace('_pt.fasta','') for file in os.listdir('NCBI/INSDC/INSDC_fasta_pt/') if file.endswith('.fasta')]
insdc_pt = insdc_pt[insdc_pt.Sample_Name.isin(insdc_ls)]
insdc_pt['DataSource']='INSDC'
print(len(insdc_ls), '>',insdc_pt.shape[0])

# List gymno
gymno_pt = pd.read_csv('NCBI/Gymnosperms/Gymnosperms_raw_SeqID.csv').rename(columns={'SeqID':'Sample_Name'})
gymno_pt['genus'] = gymno_pt.sci_name.str.split(' ').str[0]
gymno_pt['species'] = gymno_pt.sci_name.str.split(' ').str[1:].str.join(' ')
print('Root (Gymnosperms):',gymno_pt.shape[0],end=' < ')
gymno_ls = [file.replace('_pt.fasta','') for file in os.listdir('NCBI/Gymnosperms/') if file.endswith('.fasta')]
gymno_pt = gymno_pt[gymno_pt.Sample_Name.isin(gymno_ls)]
gymno_pt['DataSource']='Gymno'
print(len(gymno_ls), '>',gymno_pt.shape[0])

PAFTOL: 8916 < 8561 > 8426
SRA: 1718 < 1661 > 1661
GAP: 1455 < 774 > 774
1KP: 744 < 744 > 744
Li et al: 1327 < 1327 > 1327
RefSeq: 5176 < 5176 > 5176
INSDC: 2916 < 2916 > 2916
Root (Gymnosperms): 10 < 11 > 10

In [33]:
col_keep=['Sample_Name','family','genus','species','sci_name','DataSource','length']
pd.concat([ paftol_pt[col_keep], sra_pt[col_keep], gap_pt[col_keep], okp_pt[col_keep], Lietal_pt[col_keep],
                    refseq_pt[col_keep], insdc_pt[col_keep], gymno_pt[col_keep]], ignore_index=True)\
    .to_csv(project + '/AllSamples_' + project + '.csv',index=False)

In [34]:
# Reduce public accessions to one by species, with priority to Refseq
NCBI_pt = refseq_pt.sort_values('length',ascending=False).groupby('sci_name').head(1)
NCBI_genus = NCBI_pt.groupby('genus').genus.count().to_frame().rename(columns={'genus':'N'}).reset_index()
print(NCBI_genus.groupby('N').size().to_dict())
NCBI_pt = pd.concat([NCBI_pt, insdc_pt[(insdc_pt.Sample_Name.isin(NCBI_pt.Sample_Name)==False)] ])
NCBI_pt = NCBI_pt.groupby('sci_name').head(1)
NCBI_genus = NCBI_pt.groupby('genus').genus.count().to_frame().rename(columns={'genus':'N'}).reset_index()
print(NCBI_genus.groupby('N').size().to_dict())

{1: 1313, 2: 288, 3: 125, 4: 80, 5: 51, 6: 28, 7: 22, 8: 13, 9: 15, 10: 13, 11: 3, 12: 9, 13: 3, 14: 8, 15: 5, 16: 3, 17: 6, 18: 4, 19: 2, 20: 3, 21: 1, 22: 3, 23: 3, 24: 1, 25: 1, 27: 2, 28: 1, 29: 1, 31: 3, 32: 1, 34: 2, 35: 2, 36: 2, 41: 1, 46: 1, 47: 1, 54: 2, 66: 1}
{1: 1672, 2: 376, 3: 169, 4: 103, 5: 51, 6: 61, 7: 40, 8: 20, 9: 21, 10: 21, 11: 11, 12: 8, 13: 8, 14: 5, 15: 9, 16: 6, 17: 11, 18: 4, 19: 10, 20: 2, 21: 2, 22: 6, 23: 4, 24: 3, 25: 1, 26: 3, 27: 2, 28: 4, 29: 1, 30: 1, 31: 2, 32: 1, 33: 1, 34: 3, 36: 1, 38: 2, 40: 2, 41: 1, 44: 1, 45: 1, 48: 1, 49: 1, 50: 1, 53: 2, 54: 1, 56: 1, 66: 1, 70: 1, 75: 1, 81: 1, 88: 1, 101: 1, 117: 1}

In [35]:
# Li et al only for species not in REFSEQ/INSDC and one by species
Lietal_pt = Lietal_pt[(Lietal_pt.sci_name.isin(NCBI_pt.sci_name)==False)]\
            .sort_values('length',ascending=False).groupby('sci_name').head(1)
print(Lietal_pt.shape[0],Lietal_pt.sci_name.nunique())

666 665

In [36]:
# 1KP one by species
okp_pt = okp_pt.sort_values('length',ascending=False).groupby('sci_name').head(1)
print(okp_pt.shape[0],okp_pt.sci_name.nunique())

738 738

In [37]:
# Merge lists of samples
col_keep=['Sample_Name','genus','species','sci_name','DataSource','length']
all_pt = pd.concat([ paftol_pt[col_keep], sra_pt[col_keep], gap_pt[col_keep], okp_pt[col_keep], Lietal_pt[col_keep],
                    NCBI_pt[col_keep], gymno_pt[col_keep]], ignore_index=True)
print(all_pt.shape[0],'s:',all_pt.sci_name.nunique(),'g:',all_pt.genus.nunique())

20367 s: 17226 g: 8507

In [38]:
# Define root samples
root_1kp = pd.read_table('../Phylogenetic_Tree/Release_1.0/OneKP_root.txt',sep=' ',header=None).rename(columns={
    0:'order',1:'family',2:'genus',3:'species',4:'Sample_Name'})
root = pd.concat([root_1kp,gymno_pt]).drop(columns=['genus','species','sci_name','DataSource','length'])
root = pd.merge(root,all_pt,on='Sample_Name',how='inner')
print(root.shape[0], 'o:',root.order.nunique(),'f:',root.family.nunique(),'g:',root.genus.nunique(),'s:',root.sci_name.nunique())
root[:2]

20 o: 5 f: 9 g: 17 s: 20

,order,family,Sample_Name,TaxID,mol_type,genus,species,sci_name,DataSource,length
0,Cycadales,Cycadaceae,XZUY,NaN,NaN,Cycas,micholitzii,Cycas micholitzii,OneKP,36702.0
1,Ginkgoales,Ginkgoaceae,SGTW,NaN,NaN,Ginkgo,biloba,Ginkgo biloba,OneKP,36327.0

In [12]:
# Add class, order and genus info from WCVP
wcvp = pd.read_csv('../PAFTOL_DB/wcvp_genus.csv'); wcvp.columns = map(str.lower, wcvp.columns)
# wcvp = wcvp.sort_values('nentries',ascending=False).groupby('genus').head(1).sort_values('genus')
all_pt = pd.merge(all_pt,wcvp,how='inner',on='genus')
print(all_pt.groupby('class').size().to_dict())
all_pt = pd.concat([ all_pt, root ])

NameError: name 'all_pt' is not defined

In [40]:
print('o:',all_pt.order.nunique(),'f:',all_pt.family.nunique(),'g:',all_pt.genus.nunique(),'s:',all_pt.sci_name.nunique())
print(all_pt.groupby('DataSource').size().to_dict())
print(all_pt.isna().sum().to_dict())
print(all_pt.shape[0],end=' > ')
all_pt = all_pt.groupby('Sample_Name').head(1) # Make sure IDs are unique
print(all_pt.shape[0],end=' > ')
all_pt = all_pt[(all_pt.order.notnull()) & (all_pt.family.notnull()) & (all_pt.genus!='NILL')
               & (all_pt.species.notnull()) & (all_pt.species!='NILL')]
print(all_pt.shape[0])
print(all_pt.isna().sum().to_dict())
print(all_pt.groupby('DataSource').size().to_dict())
all_pt = all_pt.sort_values(['DataSource','order','family','genus']).reset_index(drop=True)
print('o:',all_pt.order.nunique(),'f:',all_pt.family.nunique(),'g:',all_pt.genus.nunique(),'s:',all_pt.sci_name.nunique())
# Make list
all_pt.to_csv(project + '/' + project + '_preValidation.csv',index=False)

o: 69 f: 426 g: 8405 s: 17106
{'GAP': 772, 'Gymno': 10, 'INSDC': 2905, 'Lietal': 665, 'OneKP': 671, 'PAFTOL': 8343, 'REFSEQ': 5169, 'SRA': 1656}
{'Sample_Name': 0, 'genus': 0, 'species': 103, 'sci_name': 2, 'DataSource': 0, 'length': 0, 'order': 0, 'class': 20, 'family': 0, 'nentries': 20, 'TaxID': 20181, 'mol_type': 20181}
20191 > 20170 > 20065
{'Sample_Name': 0, 'genus': 0, 'species': 0, 'sci_name': 0, 'DataSource': 0, 'length': 0, 'order': 0, 'class': 20, 'family': 0, 'nentries': 20, 'TaxID': 20055, 'mol_type': 20055}
{'GAP': 772, 'Gymno': 10, 'INSDC': 2851, 'Lietal': 624, 'OneKP': 671, 'PAFTOL': 8339, 'REFSEQ': 5162, 'SRA': 1636}
o: 69 f: 426 g: 8396 s: 17016

In [41]:
# wcvp = wcvp[wcvp['class']=='Magnoliopsida']
print(wcvp[wcvp.order.isin(all_pt.order)].order.nunique(),'/',wcvp.order.nunique(),'orders')
print(wcvp[wcvp.family.isin(all_pt.family)].family.nunique(),'/',wcvp.family.nunique(),'families')
print('missing families:',wcvp[wcvp.family.isin(all_pt.family)==False].family.unique())
print(wcvp[wcvp.genus.isin(all_pt.genus)].genus.nunique(),'/',wcvp.genus.nunique(),'genera')

64 / 64 orders
417 / 417 families
missing families: []
8379 / 13549 genera

## Pre-Validation. Remove Samples that failed Barcode Validation

In [43]:
BV = pd.read_excel(project + '/' + project + '_Barcode_Validation.xlsx',sheet_name='Validation_Results')
print(BV.shape[0])
print('Barcode Validation:',BV.groupby('Validation').size().to_dict())
BV[:2]

20055
Barcode Validation: {'Confirmed': 17918, 'Inconclusive': 1917, 'Rejected': 220}

,Sample,genus,species,sci_name,DataSource,length,order,class,family,nentries,...,VATfam,VATgen,Vfam_pc,Vgen_pc,best matching family,N best family,best matching genus,N best genus,Validation,Validation_genus
0,GAP_026547,Albidella,oligococca,Albidella oligococca,GAP,59917,Alismatales,monocots,Alismataceae,4.0,...,5,1,83.0,50.0,Butomaceae,1,Ranalisma,1.0,Confirmed,Inconclusive
1,GAP_028289,Astonia,australiensis,Astonia australiensis,GAP,8956,Alismatales,monocots,Alismataceae,1.0,...,1,0,100.0,NaN,NaN,0,NaN,NaN,Confirmed,Inconclusive

In [49]:
valid_pt = all_pt[all_pt.Sample_Name.isin(BV[BV.Validation.isin(['Confirmed','Inconclusive'])].Sample)]
print(valid_pt.shape[0])

19835

In [50]:
# Make list and labels
valid_pt['Label'] = valid_pt.order + '_' + valid_pt.family + '_' + valid_pt.genus + '_' + valid_pt.species.str.replace(' ','-') + '_' \
     + valid_pt.Sample_Name.str.replace('_','')
valid_pt.Label=valid_pt.Label.str.replace(' ','')#.str.replace('.','_')
print(valid_pt.isna().sum().to_dict())
valid_pt.to_csv(project + '/' + project + '_pretree.csv',index=False)
valid_pt[['Sample_Name','Label']].to_csv(project + '/' + project + '_pretree_labels.txt',index=False,header=None,sep=' ')

C:\Users\kle10kg\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

{'Sample_Name': 0, 'genus': 0, 'species': 0, 'sci_name': 0, 'DataSource': 0, 'length': 0, 'order': 0, 'class': 10, 'family': 0, 'nentries': 10, 'TaxID': 19835, 'mol_type': 19835, 'Label': 0}

# Tree samples

In [25]:
valid_pt = pd.read_csv(project + '/' + project + '_pretree.csv')
print(valid_pt.shape[0], 'o:',valid_pt.order.nunique(),'f:',valid_pt.family.nunique(),
      'g:',valid_pt.genus.nunique(),'s:',valid_pt.sci_name.nunique())
valid_pt[:2]

19835 o: 69 f: 424 g: 8319 s: 16865

,Sample_Name,genus,species,sci_name,DataSource,length,order,class,family,nentries,TaxID,mol_type,Label
0,GAP_026547,Albidella,oligococca,Albidella oligococca,GAP,59917.0,Alismatales,monocots,Alismataceae,4.0,NaN,NaN,Alismatales_Alismataceae_Albidella_oligococca_...
1,GAP_028289,Astonia,australiensis,Astonia australiensis,GAP,8956.0,Alismatales,monocots,Alismataceae,1.0,NaN,NaN,Alismatales_Alismataceae_Astonia_australiensis...

In [26]:
tree_samples = pd.read_csv(project + '/AllSamples_Allgenes_SeqTable.csv')
print(tree_samples.shape[0],tree_samples.Sample_Name.nunique(),tree_samples.gene.nunique())
tree_samples = tree_samples.groupby('Sample_Name').agg({'gene':'count','len':'sum'}).reset_index()
tree_samples[:2]

869083 14063 72

  Sample_Name  gene    len
0       45619    72  52602
1       45621    72  52564

In [28]:
tree_pt = pd.merge(valid_pt,tree_samples,on='Sample_Name',how='inner')
print(tree_pt.shape[0], 'o:',tree_pt.order.nunique(),'f:',tree_pt.family.nunique(),
      'g:',tree_pt.genus.nunique(),'s:',tree_pt.sci_name.nunique())
tree_pt.to_csv(project + '/' + project + '_tree_samples.csv',index=False)
print(tree_pt.groupby('DataSource').size().to_dict())

14063 o: 69 f: 419 g: 5500 s: 12571
{'GAP': 345, 'INSDC': 2809, 'Lietal': 617, 'OneKP': 663, 'PAFTOL': 3490, 'REFSEQ': 5134, 'SRA': 1005}

In [13]:
print(wcvp[wcvp.order.isin(tree_pt.order)].order.nunique(),'/',wcvp.order.nunique(),'orders')
print(wcvp[wcvp.family.isin(tree_pt.family)].family.nunique(),'/',wcvp.family.nunique(),'families')
print('missing families:',wcvp[wcvp.family.isin(tree_pt.family)==False].family.unique())
print(wcvp[wcvp.genus.isin(tree_pt.genus)].genus.nunique(),'/',wcvp.genus.nunique(),'genera')

64 / 64 orders
412 / 417 families
missing families: ['Siparunaceae' 'Rafflesiaceae' 'Apodanthaceae' 'Tetracarpaeaceae'
 'Tiganophytaceae']
5490 / 13549 genera

## Monophyly

In [6]:
import pandas as pd
import numpy as np
from ete3 import Tree, NodeStyle, TreeStyle, TextFace, AttrFace, faces
import warnings; warnings.filterwarnings('ignore')
import os

In [5]:
def Treetaxo(df):
    print('N:',df.shape[0],'o:',df.order.nunique(),'f:',df.family.nunique(),'g:',df.genus.nunique())

In [19]:
Release_df = pd.read_csv(project + '/' + project + '.csv').rename(columns={'Sample_Name':'Sample'})
print(Release_df.shape[0])
Release_df[:2]

14488

,Sample,genus,species,sci_name,DataSource,length,order,class,family,Label
0,GAP_026547,Albidella,oligococca,Albidella oligococca,GAP,59917,Alismatales,monocots,Alismataceae,Alismatales_Alismataceae_Albidella_oligococca_...
1,GAP_028289,Astonia,australiensis,Astonia australiensis,GAP,8956,Alismatales,monocots,Alismataceae,Alismatales_Alismataceae_Astonia_australiensis...

In [20]:
PV = pd.read_csv(project + '/' + project + '_0.2_iqtree_labelled_table.csv').reset_index().rename(columns={
    'index':'Tidx','label':'Label'})
# PV['Sample'] = PV['Sample'].str.replace('GAP','GAP_').str.replace('PAFTOL','PAFTOL_').str.replace('NC','NC_').str.replace('AC','AC_')
print(PV.shape[0])
print('Phylogenetic Validation:',PV.groupby('Phylogenetic_Validation').size().to_dict())
PV[:2]

8330
Phylogenetic Validation: {'Confirmed': 8162, 'Inconclusive': 56, 'Rejected': 112}

,Tidx,Label,order,family,genus,species,Sample,Phylogenetic_Validation
0,0,Apiales_Araliaceae_Motherwellia_haplosciadea_G...,Apiales,Araliaceae,Motherwellia,haplosciadea,GAP022353,Inconclusive
1,1,Apiales_Pittosporaceae_Auranticarpa_rhombifoli...,Apiales,Pittosporaceae,Auranticarpa,rhombifolia,GAP026913,Confirmed

In [22]:
Release_df = pd.merge(left = Release_df, right = PV[['Label','Phylogenetic_Validation','Tidx']].rename(columns={
    'Phylogenetic_Validation':'PhylogeneticValidation'}),
                     how = 'inner', on = 'Label')
Release_df = pd.merge(left = Release_df, right = BV[['Sample','Validation']].rename(columns={'Validation':'BarcodeValidation'}),
                     how = 'left', on = 'Sample').sort_values('Tidx').reset_index(drop=True)
print(Release_df.shape[0])

8329

In [23]:
print(Release_df.isna().sum().to_dict())
print(PV[PV.Label.isin(Release_df.Label)==False])

{'Sample': 0, 'genus': 0, 'species': 0, 'sci_name': 0, 'DataSource': 0, 'length': 0, 'order': 0, 'class': 20, 'family': 0, 'Label': 0, 'PhylogeneticValidation': 0, 'Tidx': 0, 'BarcodeValidation': 10}
      Tidx                                         Label       order  \
3071  3071  Sapindales_Rutaceae_Citrus_Ã—-aurantium_UHJR  Sapindales

        family   genus       species Sample Phylogenetic_Validation
3071  Rutaceae  Citrus  Ã—-aurantium   UHJR               Confirmed

In [24]:
Release_df['Decision']=np.nan
Release_df.loc[(Release_df.PhylogeneticValidation=='Confirmed') & (Release_df.BarcodeValidation=='Confirmed'), 
           'Decision']='Include'
Release_df.loc[(Release_df.PhylogeneticValidation=='Confirmed') & (Release_df.BarcodeValidation=='Inconclusive'), 
           'Decision']='Include'
Release_df.loc[(Release_df.PhylogeneticValidation=='Confirmed') & (Release_df.BarcodeValidation=='Rejected'), 
           'Decision']='Review'

Release_df.loc[(Release_df.PhylogeneticValidation=='Inconclusive') & (Release_df.BarcodeValidation=='Confirmed'), 
           'Decision']='Review'
Release_df.loc[(Release_df.PhylogeneticValidation=='Inconclusive') & (Release_df.BarcodeValidation=='Inconclusive'), 
           'Decision']='Review'
Release_df.loc[(Release_df.PhylogeneticValidation=='Inconclusive') & (Release_df.BarcodeValidation=='Rejected'), 
           'Decision']='Exclude'

Release_df.loc[(Release_df.PhylogeneticValidation=='Rejected') & (Release_df.BarcodeValidation=='Confirmed'), 
           'Decision']='Review'
Release_df.loc[(Release_df.PhylogeneticValidation=='Rejected') & (Release_df.BarcodeValidation=='Inconclusive'), 
           'Decision']='Exclude'
Release_df.loc[(Release_df.PhylogeneticValidation=='Rejected') & (Release_df.BarcodeValidation=='Rejected'), 
           'Decision']='Exclude'
# barcode validation against phylogenetic validation
Release_df.groupby(['PhylogeneticValidation','BarcodeValidation']).size().to_frame().reset_index().rename(columns={0:'Count'})\
    .pivot(index='PhylogeneticValidation', columns='BarcodeValidation', values='Count').to_clipboard()
Release_df.groupby(['PhylogeneticValidation','BarcodeValidation']).size().to_frame().reset_index().rename(columns={0:'Count'})\
    .pivot(index='PhylogeneticValidation', columns='BarcodeValidation', values='Count')

BarcodeValidation       Confirmed  Inconclusive  Rejected
PhylogeneticValidation
Confirmed                    8026            89        37
Inconclusive                   50             2         3
Rejected                       16             1        95

In [25]:
Treetaxo(Release_df)
print(Release_df.groupby('DataSource').size().to_dict())
print(Release_df.groupby('Decision').size().to_dict())
Release_df[:2]

N: 8329 o: 72 f: 396 g: 4406
{'GAP': 163, 'Gymno': 10, 'INSDC': 326, 'Lietal': 902, 'OneKP': 666, 'PAFTOL': 2507, 'REFSEQ': 3118, 'SRA': 637}
{'Exclude': 99, 'Include': 8115, 'Review': 105}

,Sample,genus,species,sci_name,DataSource,length,order,class,family,Label,PhylogeneticValidation,Tidx,BarcodeValidation,Decision
0,GAP_022353,Motherwellia,haplosciadea,Motherwellia haplosciadea,GAP,120594,Apiales,campanulids,Araliaceae,Apiales_Araliaceae_Motherwellia_haplosciadea_G...,Inconclusive,0,Confirmed,Review
1,GAP_026913,Auranticarpa,rhombifolia,Auranticarpa rhombifolia,GAP,79637,Apiales,campanulids,Pittosporaceae,Apiales_Pittosporaceae_Auranticarpa_rhombifoli...,Confirmed,1,Confirmed,Include

In [26]:
root_orders = ['Pinales','Gnetales','Cupressales','Ginkgoales','Ephedrales','Cupressales','Araucariales','Cycadales','Taxales']
Treetaxo(Release_df[Release_df.order.isin(root_orders)==False])

N: 8309 o: 64 f: 387 g: 4389

In [27]:
print('% of Exclusion or Review by source')
round(Release_df[Release_df.Decision!='Include'].groupby('DataSource').size()/Release_df.groupby('DataSource').size()*100,1)

% of Exclusion or Review by source

DataSource
GAP         3.1
Gymno     100.0
INSDC       0.6
Lietal      1.7
OneKP       2.1
PAFTOL      4.5
REFSEQ      1.3
SRA         2.2
dtype: float64

In [29]:
# Output file for review process
review_columns=['Sample', 'Label', 'DataSource', 'order', 'family', 'genus', 'species','length',
                 'PhylogeneticValidation', 'BarcodeValidation','Decision']
review_df = pd.concat( [Release_df[review_columns],
                    pd.DataFrame(columns=['DecisionReview','DecisionReason','ValidationComments']) ] )
review_df.to_excel(project + '/' + project + '_Review.xlsx',index=False)

In [ ]:
## Tree for review
# https://www.biostars.org/p/172568/
from ete3 import Tree, NodeStyle, TreeStyle, TextFace, AttrFace, faces

tree_file = project + '/' + project + '_0.2_iqtree_labelled_rooted.nwk'
T=Tree(tree_file)
#Convert to ultrametric
most_distant_leaf, tree_length = T.get_farthest_leaf()
current_dist = 0
for postorder, node in T.iter_prepostorder():
    if postorder:
        current_dist -= node.dist
    else:
        if node.is_leaf():
            node.dist += tree_length - (current_dist + node.dist)
        elif node.up: # node is internal
            current_dist += node.dist
            
ts = TreeStyle()
# # ts.show_branch_length = False
# # ts.scale = 2
# # ts.mode = "r"
# ts.show_branch_support = True
# ts.layout_fn = layout
ts.show_leaf_name = True
            
for n in T.iter_leaves():
#     print(n.name, end=',')
    nstyle = NodeStyle()
    print(n.name, end=',')
    if n.name == '':
        nstyle["size"] = 0
        n.set_style(nstyle)
    else:
        tmp=Release_df[Release_df.Label==n.name]
#         print(tmp)

        ## FIX point style should be based on Barcode Validation
        if tmp.shape[0]>0:
            if (tmp.Decision.isin(['Include']).bool()==True):
                nstyle["fgcolor"] = "green"
                nstyle["size"] = 10
            elif (tmp.Decision.isin(['Exclude']).bool()==True):
                nstyle["fgcolor"] = "red"
                nstyle["size"] = 10
            elif (tmp.Decision.isin(['Review']).bool()==True):
                nstyle["fgcolor"] = "black"
                nstyle["size"] = 10
            else:
                nstyle["fgcolor"] = "blue"
                nstyle["size"] = 8

            if (tmp.BarcodeValidation.isin(['Confirmed']).bool()==True):
                nstyle["shape"] = "circle"
            elif (tmp.BarcodeValidation.isin(['Rejected']).bool()==True):
                nstyle["shape"] = "circle"
            elif (tmp.BarcodeValidation.isin(['Inconclusive']).bool()==True):
                nstyle["shape"] = "square"
            
            n.set_style(nstyle)
        else:
            nstyle["size"] = 0
            n.set_style(nstyle)
T.render(project + '/' + project + "_pretree.svg", w=150, units="mm",dpi=150,tree_style=ts);

## Final tree

In [9]:
# Read review file
Review = pd.read_excel(project + '/' + project + '_pretree_Review.xlsx')
print(Review.shape[0])
Treetaxo(Review)
Review[:2]

8329
N: 8329 o: 72 f: 396 g: 4406

,Sample,Label,DataSource,order,family,genus,species,length,PhylogeneticValidation,BarcodeValidation,Decision,DecisionReview,DecisionReason,ValidationComments
0,PAFTOL_008669,Commelinales_Commelinaceae_Floscopa_glomerata_...,PAFTOL,Commelinales,Commelinaceae,Floscopa,glomerata,40762,Confirmed,Rejected,Review,Include,NaN,NaN
1,GAP_026913,Apiales_Pittosporaceae_Auranticarpa_rhombifoli...,GAP,Apiales,Pittosporaceae,Auranticarpa,rhombifolia,79637,Confirmed,Confirmed,Include,NaN,NaN,NaN

In [17]:
Review = Review[(Review.Decision=='Include') | (Review.DecisionReview=='Include')]
Treetaxo(Review)
root_orders = ['Pinales','Gnetales','Cupressales','Ginkgoales','Ephedrales','Cupressales','Araucariales','Cycadales','Taxales']
Treetaxo(Review[Review.order.isin(root_orders)==False])
print(Review.isna().sum().to_dict())
print(round(Review.groupby('DataSource').size()/Review.shape[0]*100,1))

N: 8222 o: 72 f: 396 g: 4346
N: 8202 o: 64 f: 387 g: 4329
{'Sample': 0, 'Label': 0, 'DataSource': 0, 'order': 0, 'family': 0, 'genus': 0, 'species': 0, 'length': 0, 'PhylogeneticValidation': 0, 'BarcodeValidation': 10, 'Decision': 10, 'DecisionReview': 8115, 'DecisionReason': 8222, 'ValidationComments': 8162}
DataSource
GAP        2.0
Gymno      0.1
INSDC      3.9
Lietal    10.9
OneKP      8.1
PAFTOL    29.5
REFSEQ    37.8
SRA        7.7
dtype: float64

In [14]:
Review.to_csv(project + '/' + project + '_final.csv',index=False)
Review[['Sample','Label']].to_csv(project + '/' + project + '_final_labels.txt',index=False,header=None,sep=' ')

## Table of samples

In [18]:
root_orders = ['Pinales','Gnetales','Cupressales','Ginkgoales','Ephedrales','Cupressales','Araucariales','Cycadales','Taxales']

In [19]:
pre_val = pd.read_csv(project + '/' + project + '_preValidation.csv').rename(columns={'Sample_Name':'Sample'})
pre_val=pre_val[(pre_val.DataSource!='Gymno') & (pre_val.order.isin(root_orders)==False)]
tree_taxo(pre_val)
pre_val[:2]

20045 o: 64 f: 417 g: 8379 s: 16996

,Sample,genus,species,sci_name,DataSource,length,order,class,family,nentries,TaxID,mol_type
0,GAP_026547,Albidella,oligococca,Albidella oligococca,GAP,59917.0,Alismatales,monocots,Alismataceae,4.0,NaN,NaN
1,GAP_028289,Astonia,australiensis,Astonia australiensis,GAP,8956.0,Alismatales,monocots,Alismataceae,1.0,NaN,NaN

In [20]:
post_val = pd.read_csv(project + '/' + project + '_pretree.csv').rename(columns={'Sample_Name':'Sample'})
post_val=post_val[(post_val.DataSource!='Gymno') & (post_val.order.isin(root_orders)==False)]
tree_taxo(post_val)
post_val[:2]

19825 o: 64 f: 417 g: 8309 s: 16855

,Sample,genus,species,sci_name,DataSource,length,order,class,family,nentries,TaxID,mol_type,Label
0,GAP_026547,Albidella,oligococca,Albidella oligococca,GAP,59917.0,Alismatales,monocots,Alismataceae,4.0,NaN,NaN,Alismatales_Alismataceae_Albidella_oligococca_...
1,GAP_028289,Astonia,australiensis,Astonia australiensis,GAP,8956.0,Alismatales,monocots,Alismataceae,1.0,NaN,NaN,Alismatales_Alismataceae_Astonia_australiensis...

In [21]:
tree_samples = pd.read_csv(project + '/AllSamples_Allgenes_SeqTable.csv')
final_df = post_val[post_val.Sample.isin(tree_samples.Sample_Name)]
tree_taxo(final_df)
final_df[:2]

14053 o: 64 f: 412 g: 5490 s: 12561

,Sample,genus,species,sci_name,DataSource,length,order,class,family,nentries,TaxID,mol_type,Label
0,GAP_026547,Albidella,oligococca,Albidella oligococca,GAP,59917.0,Alismatales,monocots,Alismataceae,4.0,NaN,NaN,Alismatales_Alismataceae_Albidella_oligococca_...
6,GAP_026933,Stuckenia,pectinata,Stuckenia pectinata,GAP,31766.0,Alismatales,monocots,Potamogetonaceae,10.0,NaN,NaN,Alismatales_Potamogetonaceae_Stuckenia_pectina...

In [22]:
def stats_total(df):
    tmp = {'DataSource':'Total','Sample':df.shape[0],'family':df.family.nunique(),
           'genus':df.genus.nunique(),'sci_name':df.sci_name.nunique()}
    return pd.DataFrame.from_dict(tmp,orient='index').transpose()
stats_total(all_pt)

  DataSource Sample family genus sci_name
0      Total  20045    417  8379    16996

In [23]:
ini = pre_val.groupby('DataSource').agg({'Sample':'count','family':'nunique','genus':'nunique','sci_name':'nunique'}).reset_index()
ini = pd.concat([ini,stats_total(pre_val)],ignore_index=True)
ini['stage'] = 'Pre-Validation'

pre = post_val.groupby('DataSource').agg({'Sample':'count','family':'nunique','genus':'nunique','sci_name':'nunique'}).reset_index()
pre = pd.concat([pre,stats_total(post_val)],ignore_index=True)
pre['stage'] = 'Post-validation'

final = final_df.groupby('DataSource').agg({'Sample':'count','family':'nunique','genus':'nunique','sci_name':'nunique'}).reset_index()
final = pd.concat([final,stats_total(final_df)],ignore_index=True)
final['stage'] = 'Tree'
stats_taxo = pd.concat([ini, pre, final])
stats_taxo = stats_taxo[stats_taxo.DataSource!='Gymno']
stats_taxo#.set_index # .stack().to_frame()

  DataSource Sample family genus sci_name            stage
0        GAP    772    102   754      770   Pre-Validation
1      INSDC   2851    179  1129     2851   Pre-Validation
2     Lietal    624    290   516      624   Pre-Validation
3      OneKP    661    249   524      661   Pre-Validation
4     PAFTOL   8339    361  6053     7307   Pre-Validation
5     REFSEQ   5162    277  2011     5162   Pre-Validation
6        SRA   1636    199  1309     1520   Pre-Validation
7      Total  20045    417  8379    16996   Pre-Validation
0        GAP    760    101   742      758  Post-validation
1      INSDC   2840    176  1122     2840  Post-validation
2     Lietal    623    290   515      623  Post-validation
3      OneKP    657    247   520      657  Post-validation
4     PAFTOL   8194    358  5987     7211  Post-validation
5     REFSEQ   5143    275  2001     5143  Post-validation
6        SRA   1608    198  1291     1495  Post-validation
7      Total  19825    417  8309    16855  Post-validation
0        GAP    345     67   340      345             Tree
1      INSDC   2809    174  1118     2809             Tree
2     Lietal    617    287   510      617             Tree
3      OneKP    653    246   516      653             Tree
4     PAFTOL   3490    259  2728     3157             Tree
5     REFSEQ   5134    273  1995     5134             Tree
6        SRA   1005    133   832      957             Tree
7      Total  14053    412  5490    12561             Tree

In [24]:
stats_taxo = pd.concat([ini.set_index(['stage','DataSource']).stack().to_frame().rename(columns={0:'N'}), 
                        pre.set_index(['stage','DataSource']).stack().to_frame().rename(columns={0:'N'}), 
                        final.set_index(['stage','DataSource']).stack().to_frame().rename(columns={0:'N'})])
stats_taxo = stats_taxo.unstack(level=-2).transpose().reset_index()
stats_taxo.to_clipboard()
stats_taxo

stage level_0 DataSource Post-validation                       Pre-Validation  \
                                  Sample family genus sci_name         Sample
0           N        GAP             760    101   742      758            772
1           N      INSDC            2840    176  1122     2840           2851
2           N     Lietal             623    290   515      623            624
3           N      OneKP             657    247   520      657            661
4           N     PAFTOL            8194    358  5987     7211           8339
5           N     REFSEQ            5143    275  2001     5143           5162
6           N        SRA            1608    198  1291     1495           1636
7           N      Total           19825    417  8309    16855          20045

stage                         Tree
      family genus sci_name Sample family genus sci_name
0        102   754      770    345     67   340      345
1        179  1129     2851   2809    174  1118     2809
2        290   516      624    617    287   510      617
3        249   524      661    653    246   516      653
4        361  6053     7307   3490    259  2728     3157
5        277  2011     5162   5134    273  1995     5134
6        199  1309     1520   1005    133   832      957
7        417  8379    16996  14053    412  5490    12561